<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <section>
            <h1>Información del Proyecto.</h1>
            <div>
                <p>Argumentos ingresados por CLI (Yargs): {{args}}</p>
                <p>Sistema Operativo: {{operatingSystem}}</p>
                <p>Versión de Node JS: {{nodeVersion}}</p>
                <p>Uso de la Memoria (RSS): {{memoryUsage.rss}}</p>
                <p>ID del Proceso: {{processID}}</p>
                <p>Carpeta del Proyecto: {{currentDirectory}} </p>
            </div>
        </section>
    </body>
</html>